/* #region Global */
* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background: whitesmoke;
    
    color: #333;
    overflow-x: hidden;
}

.bg_light {
    background: #f4f4f4;
    color: #333;
}
/* #endregion */

/* #region NAVBAR */
#navbar {
    top: 0;
    z-index: 1;
    height: 8vh;

    position: sticky;

    color: black;
    background: rgb(245, 245, 245);
}

.nav-links {
    height: 100%;
    margin-left: auto;
    
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.nav-links li a {
    border-radius: 10px;
    color: black;

    padding: 1rem;

    font-size: 16px;
    text-decoration: none;

    transition: background-color 0.25s;
}

.nav-links li a:hover {
    color: white;
    background-color: orangered;
}
/* #endregion */

#msg_section {
    height: 65vh;
    align-items: center;
    
    border: 3px solid gray;
    border-radius: 20px;

    margin-left: 15rem;
    margin-right: 15rem;

    padding-top: 1rem;
    padding-bottom: 1rem;

    padding-left: 5rem;
    padding-right: 5rem;

    overflow: hidden;
    overflow-y: scroll;
}

#msg_container {
    text-align: left;
    font-size: 24px;
}

#send_container {
    text-align: center;

    padding: 1rem;
    color:black;

    position: fixed;
    bottom: 90px;

    width: 100%;
}

#msg_input {
    height: 5vh;
    width: 50%;

    font-size: 28px;

    padding-left: 15px;
    padding-right: 15px;
}

#send_btn {
    height: 5vh;
    width: 50%;
}

/* #region FOOTER */
footer {
    position: fixed;
    text-align: center;

    padding: 1rem;
    color:white;

    bottom: 0;
    width: 100%;
}

footer p {
    color: black;
}
/* #endregion */